<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" href="../../css/myForm.css">
    <link rel="stylesheet" href="../../css/bootstrap.css">
</head>

<body>
<div class="container">
    <div class="content">
        <h1 class="home_tile"> MƯỢN SÁCH </h1>
        <p th:text="${rentedBook.name}"></p>
        <p th:text="${rentedBook.author}"></p>
        <p th:text="${rentedBook.review}"></p>
        <a th:href="@{/confirmRent/{id}/(id=${rentedBook.id})}"> XÁC NHẬN MƯỢN</a>
    </div>
</div>
<script src="../../js/bootstrap.js"></script>
</body>
</html>