<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{/layout::common}"></div>
<form th:object="${student}" action="/student/create" method="post">
    <table>
<!--        <tr>-->
<!--            <td>ID:</td>-->
<!--            <td>-->
<!--                <input type="number" th:field="*{id}"/>-->
<!--            </td>-->
<!--        </tr>-->
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" th:field="*{name}"/>
            </td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>
                <input type="radio" th:field="*{gender}" value="1" /> Male
                <input type="radio" th:field="*{gender}" value="0" /> FeMale
                <input type="radio" th:field="*{gender}" value="2" /> LGBT

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Create">
            </td>
        </tr>
    </table>
</form>
</body>
</html>