* {
    box-sizing: border-box;
}

table {
    border: 1px solid #2b2b2b;
    min-width: 100%;


}

table tr, table td {
    height: 50px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #2b2b2b;
}

th {
    background-color: #0c4128;
    color: white;
    font-weight: bold;

}


.centerer table {
    margin: 30px auto;
}

a {
    text-decoration: none;
}