<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{/layout::common}"></div>
<!--<strong style="color: green">${successMS}</strong>-->
<p th:if="${studentList.isEmpty()}" style="color: red">List Empty</p>
<form action="/student/search">
    <input type="text" name="kq">
</form>
<table class="table" th:unless="${studentList.isEmpty()}">
    <thead>
    <tr>
        <th>Index</th>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
<!--    <c:forEach items="${studentList}" var="student" varStatus="status">-->
        <tr th:each="student, status : ${studentList}">
            <td th:text="${status.index}"></td>
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:switch="${student.gender}">
                <span th:case="0">Female</span>
                <span th:case="1">Male</span>
                <span th:case="*">LGBT</span> <!--default-->
            </td>
            <td>
<!--                <a href="/student/edit/${status.index}">Edit</a>-->
                <a th:href="@{/student/edit/{index}(index = ${status.index})}">Edit1</a> <!--param tinh-->
                <a th:href="@{/student/edit/(index = ${status.index})}">Edit2</a> <!--param dong-->
                <a th:href="@{/student/edit/__${status.index}__}">Edit3</a> <!--param tinh-->
            </td>
        </tr>
<!--    </c:forEach>-->
    </tbody>
</table>

<div th:with="a='0', b='1'">
    <h1 th:utext="${a}"></h1>
</div>
</body>
</html>