<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">

</head>
<title>Create detail</title>
<body>
<header th:replace="layout::header">
</header>
<div class="container">
    <div class="mytitle">
        <h1> CREATE CONTRACT DETAIL </h1>
    </div>
    <div class="my_content">
        <form action="/contract/contractdetail/save" method="post" th:object="${conractDetailDto}">
            <input type="hidden" th:field="*{detailId}">

            <div class="col-md-12 margin_10">
                <div>
                    <strong class="the_name"> Customer name: </strong>
                    <span th:text="${conractDetailDto.contractId.customerId.customerName}"></span>
                </div>
                <div>
                    <strong class="the_name"> Customer code: </strong>
                    <span th:text="${conractDetailDto.contractId.customerId.customerCode}"></span>
                </div>

            </div>

            <div class="col-md-12 margin_10">
                <label for="service" class="col-sm-2 col-form-label">Select Attach Service</label>
                <select class="form-control" id="service" th:field="*{attachServiceId}">
                    <option value="-1" selected>-Select Attach service--</option>
                    <option th:each="att : ${attachServiceList}"
                            th:value="${{att}}" th:text="${att.attachName}"></option>
                </select>
            </div>

            <div class="col-md-12 margin_10">
                <label for="deposit" class="col-sm-2 col-form-label">Quantity</label>
                <input type="number" class="form-control" id="deposit" th:field="*{quantity}">
                <div class="margin-10-px" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
            </div>
            <div class="col-md-12 margin_10 ">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<link rel="stylesheet" href="../../../css/myTable.css">
<link rel="stylesheet" href="../../../css/bootstrap.css">
<script src="../../../js/bootstrap.js"></script>
<script src="../../../js/fontAnwesome.js" crossorigin="anonymous"></script>
</html>