<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
</head>
<title>Create contract</title>
<body>
<header th:replace="layout::header">
</header>
<div class="container">
    <div class="mytitle">
        <h1> CREATE CONTRACT </h1>
    </div>

    <div class="my_content">

        <form action="/contract/save" method="post" th:object="${contractDto}" class="row">
            <input type="hidden" th:field="*{contractId}">

            <div class="col-md-4 margin_10">
                <label for="startDate" class="col-sm-2 col-form-label">Stardate</label>

                <input type="date" class="datepicker_input form-control " id="startDate" th:field="*{startDate}">

                <!--                <div class="margin-10-px" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>-->
            </div>
            <div class="col-md-4 margin_10">
                <label for="endDate" class="col-sm-2 col-form-label">Enddate</label>
                <input type="date" class="datepicker_input form-control " id="endDate" th:field="*{endDate}">
            </div>

            <div class="col-md-4 margin_10">
                <label for="deposit" class="col-sm-2 col-form-label">Deposit</label>
                <input type="number" class="form-control" id="deposit" th:field="*{deposit}">

            </div>

            <div class="col-md-8 margin-10-px text-center">
                <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
            </div>
            <div class="col-md-4  margin-10-px ">
                <div th:if="${#fields.hasErrors('deposit')}" th:errors="*{deposit}"></div>
            </div>
            <br>
            <div class="col-md-6 margin_10">
                <span for="customerId" class="col-sm-2 col-form-label">Customer</span>
                <select class="form-control" id="customerId" th:field="*{customerId}">
                    <option value="-1" selected disabled>-SelectCustomer-</option>
                    <option th:each="cus : ${customerList}"
                            th:value="${{cus}}" th:text="${cus.customerCode +' -- ' + cus.customerName }"></option>
                </select>
            </div>
            <div class="col-md-6 margin_10">
                <span for="Employee" class="col-sm-2 col-form-label">Employee</span>
                <select class="form-control" id="Employee" th:field="*{employeeId}">
                    <option value="-1" selected>-Select Employee--</option>
                    <option th:each="emp : ${employeeList}"
                            th:value="${{emp}}" th:text="${emp.employeeName}"></option>
                </select>
            </div>
            <div class="col-md-12 margin_10">
                <span for="service" class="col-sm-2 col-form-label">Select Service</span>
                <select class="form-control" id="service" th:field="*{serviceId}">
                    <option value="-1" selected disabled>-Select service--</option>
                    <option th:each="s : ${serviceList}"
                            th:value="${{s}}" th:text="${s.serviceName}"></option>
                </select>
            </div>

            <div class="col-md-12 margin_10 ">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>
</body>
<link rel="stylesheet" href="../../../css/myTable.css">
<link rel="stylesheet" href="../../../css/bootstrap.css">
<script src="../../../js/bootstrap.js"></script>
<script src="../../../js/fontAnwesome.js" crossorigin="anonymous"></script>
</html>