<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../css/myTable.css">
    <link rel="stylesheet" href="../../../css/bootstrap.css">
    <script src="../../../js/bootstrap.js"></script>
    <script src="../../../js/fontAnwesome.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="my_content">
    <div class="list_title">
        <h1 > CUSTOMER LIST </h1>
    </div>

    <div class="row">
        <div class="formfind">
            <form action="/customer/showcustomerlist" method="get">

                <label> Find by name
                    <input class="form-control-sm" type="text" name="findName">
                </label>
                <label> Find by customer code:
                    <input class="form-control-sm" type="text" name="findcode">
                </label>
                <label> find by Customertype
                    <select class="form-control-sm" name="customerType">
                        <option disabled selected> --CHOSE TYPE--</option>
                        <th:block th:each="type: ${typeList}">
                            <option th:value="${type.customerTypeId}" th:text="${type.customerTypeName}"></option>
                        </th:block>
                    </select>
                </label>

                <button class=" buttonBg" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>

            </form>
        </div>
    </div>
    <p class="msg" th:text="${msg}"></p>
    <a type="button" class="organtedbtn" href="/addcustomer"> Add new Customer</a>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th> Birthday</th>
            <th> Gender</th>
            <th> Id Card</th>
            <th> Contact</th>
            <th> Type</th>
            <th colspan="2"> Action</th>
        </tr>
        </thead>
        <tr th:each="cus : ${customerList}">
            <td>
                <div class="the_name"><i class="fa-solid fa-circle-user myIcon"></i> <span
                        th:text="${cus.customerName}"> </span></div>
                <div class="the_code"><i class="fa-solid fa-barcode myIcon"></i> <span
                        th:text="${cus.customerCode}"> </span></div>
            </td>
<!--            <td th:text="${cus.customerBirthday}"></td>-->
            <td th:text="${#calendars.format(cus.customerBirthday,'dd/MM/yyyy')}"></td>
            <td th:if="${cus.customerGender == 0}"> Female</td>
            <td th:unless="${cus.customerGender == 0}"> Male</td>

            <td th:text="${cus.customerIdCard}"></td>
            <td>
                <div class="yelow_organe"><i class="fa-solid fa-phone "></i> <span
                        th:text="${cus.customerPhone}"> </span></div>
                <div class="red_purple"><i class="fa-solid fa-envelope "></i> <span
                        th:text="${cus.customerEmail}"> </span></div>
                <div class="green_blue"><i class="fa-solid fa-location-dot "></i></i> <span
                        th:text="${cus.customerAdress}"> </span></div>
            </td>

            <td th:text="${cus.customerType.customerTypeName}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/editcustomer/{id}/(id=${cus.customerId})}">
                    <i class="fa-solid fa-user-pen"></i>
                </a>
            </td>

            <td> <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger"
                        data-bs-toggle="modal"
                        th:attr="data-bs-target='#cusId'+${cus.customerId}">
                    <i class="fa-solid fa-user-xmark"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" th:id="'cusId' + ${cus.customerId}" tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">CONFIRM DELETE</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Confirm delete <span class="text-warning" th:text="${cus.customerName}"></span> ?

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a type="button" class="btn btn-danger text-decoration-none"
                                   th:href="@{/deletecustomer/{id}/(id=${cus.customerId})}"
                                >Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <footer>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item  " th:if="${customerList.hasPrevious()}">
                    <a class="page-link"
                       th:href="@{'/showcustomerlist'(page=${customerList.number - 1},
                       findName=${findName},
                       customerType=${customerType},
                       findcode=${findcode})}"
                       tabindex="-1"
                       aria-disabled="true">Previous</a>
                </li>
                <li class="page-item disabled" th:unless="${customerList.hasPrevious()}">
                    <a class="page-link " href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item">
                    <div class="page-link ">
                        <span th:text="${customerList.number+1}"></span> of
                        <span th:text="${customerList.totalPages}"></span>
                    </div>

                </li>
                <li class="page-item" th:if="${customerList.hasNext()}">
                    <a class="page-link  "
                       th:href="@{'/showcustomerlist'(page=${customerList.number + 1},
                       findName=${findName},
                       customerType=${customerType},
                       findcode=${findcode})}"
                       tabindex="-1"
                       aria-disabled="true">Next</a>
                </li>
                <li class="page-item disabled" th:unless="${customerList.hasNext()}">
                    <a class="page-link  " href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
            </ul>
        </nav>
    </footer>
</div>
</body>
</html>